.container{
    background-color: rgb(199, 199, 247);
}
h1{
    text-align: center;
}
#img{
 width:100%;
}
.c1{
   background-image: linear-gradient(to right, rgba(123, 156, 206, 0), rgb(223, 122, 39));
   box-sizing: border-box;
   padding: 20px;
   border-radius: 10px;
}
.c1:hover{
    background-color:transparent
}
.c2{
    background-image: linear-gradient(to right, rgba(123, 156, 206, 0), rgb(82, 130, 202));
    box-sizing: border-box;
    padding: 20px;
 }.c2:hover{
    background-color:transparent
}
 .c3{
    background-image: linear-gradient(to right, rgba(123, 156, 206, 0), rgb(218, 97, 181));
    box-sizing: border-box;
    padding: 20px;
 }.c3:hover{
    background-color:transparent
}
 .c4{
    background-image: linear-gradient(to right, rgba(123, 156, 206, 0), rgb(219, 84, 84));
    box-sizing: border-box;
    padding: 20px;
 }.c4:hover{
    background-color:transparent
}
.tab{
    background-color: rgb(192, 190, 187);
}
.btn{
    background-image: linear-gradient(to right, rgb(219, 182, 210),rgb(223, 87, 171));
}